.review {
  width: 330px;
  height: 450px;
  padding: 50px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.review img {
  width: 200px;
}
.review .icons {
  color: orange;
  font-size: 26px;
}
.rating-align{
    display: flex;
    /* justify-content: center; */
}